apiVersion: v1
kind: ResourceQuota
metadata:
  name: team-fraud-quota
  namespace: team-fraud
spec:
  hard:
    requests.cpu: "500m"
    requests.memory: "512Mi"
    limits.cpu: "1"
    limits.memory: "1Gi"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: team-fraud-limits
  namespace: team-fraud
spec:
  limits:
    - default:
        cpu: "250m"
        memory: "256Mi"
      defaultRequest:
        cpu: "100m"
        memory: "128Mi"
      type: Container
